@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-zinc-100;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: #09090b;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #27272a;
    border-radius: 3px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #3f3f46;
  }
}
